/*
 * Custom change-config-theme CSS
 */
.aimeos .sidebar-wrapper {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    overflow-y: auto;
    width: max(15%, 12rem);
    min-height: calc(100vh - 6.5rem);
    transition: width .3s ease-in-out, transform .3s ease-in-out;
}
